* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* imported font from google */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


html {
    background-color: #F6FDFF;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100vw;
    background-color: #fff;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    color: black;
}

h1 {

    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: #13829B;
}

header>p {
    max-width: 200px;
    text-align: center;
    font-weight: 500;
    letter-spacing: .05em;
}

main {
    background-color: #EBFBFF;
    min-width: 286px;
    min-height: 248px;
    margin: 37px;
    padding: 26px 30px;
    flex-direction: column; */
    border-radius: 6px;
}

main>p {
    text-align: center;
    width: 100%;
    margin: 0 0 28px;
    color: #29D2E4;
    font-weight: 500;
}

.wrap {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    border-radius: 6px;
    background-color: #13829B;
    min-width: 162px;
    max-width: 265px;
    margin: 0 auto;
    text-align: center;
    min-height: 131px;
    justify-content: center;
}

#user_average {
    margin: 5px 0 0;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    
    overflow-wrap: break-word;
}

div>h2 {
    font-weight: 600;
    font-size: 1em;
    color: #FFDCC4;
}